@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Scada&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
  }

body {
    background-color: #001F32;
    font-family: 'Scada', sans-serif;
    color: #f5efed;
    font-weight: 400;
    position: relative;
}
h1 {
  font-family: 'Aldrich', sans-serif;
  font-size: 60px;
  text-align: center;
  margin-top: 5vh;
}
h3 {
  font-family: 'Aldrich', sans-serif;
  font-size: 30px;
  text-align: center;
  margin-top: 5vh;
}
em {
  color: #CABB71;
}

.game-box-welcome {
  background-color: #0d3751;
  margin: 0 auto;
  border-radius: 6px;
  width: 90%;
  /* height: 80vh; */
  max-height: 550px;
  padding: 5%;
}



