@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Scada&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
  }

body {
    background-color: #001F32;
    font-family: 'Scada', sans-serif;
    color: #f5efed;
    font-weight: 400;
}

h1 {
  font-family: 'Aldrich', sans-serif;
  font-size: 60px;
  text-align: center;
  margin-top: 5vh;
}
h3 {
  font-family: 'Aldrich', sans-serif;
  font-size: 30px;
  text-align: center;
  margin-top: 5vh;
}
em {
  color: #CABB71;
}

.game-box-welcome {
  background-color: #0d3751;
  margin: 0 auto;
  border-radius: 6px;
  width: 90%;
  /* height: 80vh; */
  max-height: 550px;
  padding: 5%;
}

.level-btn {
  display: block;
  margin: 20px auto;
  padding: 15px 33px;
  border-radius: 6px;
  color: #f5efed;
  background-color: #001F32;
}

.level-btn:hover {
  color: #f5efed;
  background-color: #CABB71;
  border: 2px solid black;
  cursor: pointer;
}

.level-btn:active {
  background-color: #98CE00;
  box-shadow: 2px;
  border: 2px solid black;
} /*optional code*/

.rules-btn {
  display: block; /*Maybe switch to flex?*/
  padding: 15px 33px;
  margin: 23px auto;
  border-radius: 6px;
  background-color: whitesmoke;
  color: black;
}
.rules-btn:hover {
  color: #f5efed;
  background-color: #CABB71;
  border: 2px solid black;
  cursor: pointer;
}

.rules-btn:active {
  background-color: #98CE00;
  box-shadow: 2px;
  border: 2px solid black;
}
#sound-level {
  display: flex;
  justify-content: flex-end;
}
.rules-modal {
  background-color: #0d3751;
  margin: 0 auto;
  border-radius: 6px;
  width: 90%;
  height: 350px;
  max-height: 550px;
  padding: 5%;
}
.rules-modal h3 {
  margin-bottom: 12px;
}
.rules-modal li {
  list-style-type: square;
  text-align: center;
  padding-bottom: 19px;
  list-style-position: inside;
}
.question-area {
  background-color: #0d3751;
  margin: 0 auto;
  border-radius: 6px;
  width: 90%;
  height: 500px;
  max-height: 550px;
  padding: 5%;
}
.question-text{
  text-align: center;
  margin-bottom: 14px;
}
#answer-options {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-items: center;
}
.answer-btn {
width: 70%;
height: 5rem;
padding: 20px;
margin: 9px;
}
.hide {
  display: none;
}
.answer-btn:hover {
  background-color: #CABB71;
  color: black;
  border: 3px solid black;
  cursor: pointer;
}
.game-box-welcome i {
  cursor: pointer;
}
.next {
  background-color: #041520;
  color: #f5efed;
  display: block;
  margin: 12px auto;
  padding: 23px;
  border-radius: 10px;
  width: 20%;
}
.next:hover {
  background-color: #CABB71;
  color: black;
  cursor: pointer;
}

.result-box {
  background-color: #0d3751;
  margin: 0 auto;
  border-radius: 6px;
  width: 90%;
  height: 500px;
  max-height: 550px;
  padding: 5%;
}
.score-keep {
  display: flex;
  margin-top: 3rem;
}
.point-value, .correct-ans, .incorrect-ans {
  display: flex;
  justify-content: flex-start;
  padding: 6px;
}
#points, #correct, #incorrect, #score{
  padding-left: 7px;
}
#progressBar {
  border: 0.3rem solid white;
  width: 23rem;
  height: 3.5vh;
}
#progress-bar-full {
  height: 2.5vh;
  background-color: green;
}
/* #img-container{
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 2fr, auto;
} */
/* .finish-message {
  display: flex;
} */
.profile {
  border: 4px solid yellow;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
}
.score-msg {
  display: flex;
  padding: 4px;
  justify-content: center;
  font-size: 23px;
}
.retry{
  display: flex;
  justify-content: flex-end;
  gap: 10%;
}

.retry-btn {
  padding: 20px;
  width: 30%;
  margin-top: 9px;
}
.retry-btn:hover {
  background-color: #CABB71;
  color: black;
  border: 2px solid black;
  cursor: pointer;
}