/* Imports Google fonts. */
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Scada&display=swap');

/*Removes the web default styles. */
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
/* General styles for the website body. */
body {
  background-color: #001F32;
  font-family: 'Scada', sans-serif;
  color: #f5efed;
  font-weight: 400;
}


h1 {
  font-family: 'Aldrich', sans-serif;
  font-size: 53px;
  text-align: center;
  margin-top: 5vh;
  padding: 7px;
}

h2,
h3 {
  font-family: 'Aldrich', sans-serif;
  font-size: 25px;
  text-align: center;
  margin-top: 5vh;
  padding: 7px;
}

em {
  color: #CABB71;
}

/* Style the welcome area container.  */
.game-box-welcome {
  background-color: #0d3751;
  margin: 0 auto;
  border-radius: 6px;
  width: 90%;
  max-height: 550px;
  padding: 5%;
}

/* Styles the difficulty buttons in the welcome area */
.level-btn {
  display: block;
  margin: 20px auto;
  padding: 15px 33px;
  border-radius: 6px;
  color: #f5efed;
  background-color: #001F32;
}

.level-btn:hover {
  color: #f5efed;
  background-color: #CABB71;
  border: 2px solid black;
  box-shadow: 3px 3px;
  cursor: pointer;
}

.level-btn:active {
  background-color: #98CE00;
  border: 2px solid black;
}

.rules-btn {
  display: block;
  padding: 15px 33px;
  margin: 23px auto;
  border-radius: 6px;
  background-color: whitesmoke;
  color: black;
}

.rules-btn:hover {
  color: #f5efed;
  background-color: #CABB71;
  border: 2px solid black;
  box-shadow: 3px 3px;
  cursor: pointer;
}

.rules-btn:active {
  background-color: #98CE00;
  border: 2px solid black;
}

/* style for the rules container and the elements within. */
.rules-modal {
  background-color: #0d3751;
  margin: 0 auto;
  border-radius: 6px;
  width: 90%;
  max-height: 550px;
  padding: 5%;
}

.rules-modal h3 {
  margin-bottom: 12px;
}

.rules-modal li {
  list-style-type: square;
  text-align: center;
  padding-bottom: 19px;
  list-style-position: inside;
}

/* Game area container. Styles for question and answer options.  */
.question-area {
  background-color: #0d3751;
  margin: 0 auto;
  border-radius: 6px;
  width: 90%;
  height: 500px;
  max-height: 550px;
  padding: 5%;
}

.question-text {
  text-align: center;
  margin-bottom: 14px;
}

#answer-options {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-items: center;
}

.answer-button {
  width: 70%;
  height: 5rem;
  padding: 7px;
  color: black;
  margin: 9px;
}

/* Style rule that hides sections. Used in script.js to help with event listeners.*/
.hide {
  display: none;
}

.answer-button-hover:hover {
  background-color: #CABB71;
  color: black;
  border: 3px solid black;
  cursor: pointer;
}

/* Style that is applied to correct/incorrect answers. */
.correct-ans {
  background-color: green;
  color: #f5efed;
  text-align: center;
}

.incorrect-ans {
  background-color: red;
  color: #041520;
  text-align: center;
}

/* Style for the results area container and the elements within it. */
.result-box {
  background-color: #0d3751;
  margin: 0 auto;
  border-radius: 6px;
  width: 90%;
  height: 542px;
  max-height: 550px;
  padding: 5%;
}

.score-keep {
  display: flex;
  margin-top: 3rem;
}

.point-value,
.correct-questions,
.incorrect-questions {
  display: flex;
  justify-content: flex-start;
  padding: 6px;
}

#points,
#correct,
#incorrect,
#score {
  padding-left: 7px;
}

/* Style for the progress bar. The second one changes as the game progresses. */
#progressBar {
  border: 0.3rem solid white;
  width: 100%;
}

#progress-bar-full {
  height: 2.5vh;
  background-color: #98CE00;
  width: 0;
}

 /* Style for the image and image container shown in the results area. */
.profile {
  border: 4px solid yellow;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  display: block;
  margin: 0 auto;
}

#img-result {
  border-radius: 55%;
  height: 240px;
  width: 240px;
  display: flex;
  justify-content: center;
}

/* Final score shown in the results area. */
.score-msg {
  display: flex;
  padding: 4px;
  justify-content: center;
  font-size: 23px;
}

/* Style for the play-again button. */
.retry {
  display: flex;
  justify-content: center;
}

.retry-btn {
  padding: 20px;
  width: 30%;
  margin-top: 17px;
}

.retry-btn:hover {
  background-color: #CABB71;
  color: white;
  border: 2px solid black;
  box-shadow: 3px 3px;
  cursor: pointer;
}

/* Media query to make the retry button more responsive on mobile phones. */
@media (min-width: 320px) and (max-width: 480px) {
  .retry-btn {
    width: 67%;
  }
}