@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Scada&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
  }

body {
    background-color: #001F32;
    font-family: 'Scada', sans-serif;
    color: #f5efed;
    font-weight: 400;
}
h1 {
  font-family: 'Aldrich', sans-serif;
  font-size: 60px;
  text-align: center;
  margin-top: 5vh;
}
h3 {
  font-family: 'Aldrich', sans-serif;
  font-size: 30px;
  text-align: center;
  margin-top: 5vh;
}
em {
  color: #CABB71;
}

.game-box-welcome {
  background-color: #0d3751;
  margin: 0 auto;
  border-radius: 6px;
  width: 90%;
  /* height: 80vh; */
  max-height: 550px;
  padding: 5%;
}

.level-btn {
  display: block;
  margin: 20px auto;
  padding: 15px 33px;
  border-radius: 6px;
  color: #f5efed;
  background-color: #001F32;
}

.level-btn:hover {
  color: #f5efed;
  background-color: #CABB71;
}

.level-btn:active {
  background-color: #98CE00;
  box-shadow: 2px;
} /*optional code*/

.rules-btn {
  display: block; /*Maybe switch to flex?*/
  padding: 15px 33px;
  margin: 23px auto;
  border-radius: 6px;
  background-color: whitesmoke;
  color: black;
}
.rules-btn:hover {
  color: #f5efed;
  background-color: #CABB71;
}

.rules-btn:active {
  background-color: #98CE00;
  box-shadow: 2px;
}
#sound-level {
  display: flex;
  justify-content: flex-end;
}
.rules-modal {
  background-color: #0d3751;
  margin: 0 auto;
  border-radius: 6px;
  width: 90%;
  height: 350px;
  max-height: 550px;
  padding: 5%;
}
.rules-modal, h3 {
  margin-bottom: 12px;
}
.rules-modal, li {
  list-style-type: square;
  text-align: center;
  padding-bottom: 19px;
  list-style-position: inside;
}
